<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Selection</title>
</head>
<body>
    <h1>Select Your Drink</h1>
    <!-- add radio buttons - click the drink and have this saved -->
    <ul>
        {% for drink in all_drinks["drinks"] %}
        <li>
            <span>{{ drink.drink_name }}</span>
        </li>
        {% endfor %}
        </ul>
        <a href = '/barista_mode'>
            <button type="button" id="loading_button">->Next</button>
        </a>
</body>
</html>