<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Selection</title>
</head>

<body>
    <form action="/get_drink_and_temperature" method="POST">
        <h1>Input current temperature:</h1>
        <input type="number" id="current_temperature" name="input_temperature">°C

        <h1>Select Your Drink</h1>
        <!-- add radio buttons - click the drink and have this saved -->
        <ul>
            {% for drink in all_drinks["drinks"] %}
            <input type="checkbox" id="drink_checkbox" name="selected" value="{{ drink.drink_name }}">
            <span>{{ drink.drink_name }}</span>
            {% endfor %}

            <button type="submit" id="loading_button">->Next</button>
    </form>
    </ul>
</body>
</html>