<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sipify The Smart Coaster</title>
</head>
<body>
    <p>Drinks</p>
    <ul>
    {% for drink in all_drinks["drinks"] %}
    <li>
        <span>{{ drink }}</span>
        {{ drink.drink_name }}
        {{ drink.temperature_type }}
        {{ drink.minimum_temperature }}
        {{ drink.maximum_temperature }}
    </li>
    {% endfor %}
    </ul>
</body>
</html>